<span style="font-size:30px; font-family:'Times new roman';">
Import Data ðŸŽ’
</span>

In [18]:
import pandas as pd
from IPython.display import display
from datetime import datetime
import math

In [2]:
nvda = pd.read_csv("../data/options_nvda.csv")
spy = pd.read_csv("../data/options_spy.csv")

<span style="font-size:30px; font-family:'Times new roman';">
Explore Data ðŸ¤¯
</span>

In [3]:
# Log data and observe
display(nvda.info())
display(nvda.head())
display(spy.info())
display(spy.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493 entries, 0 to 492
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     493 non-null    object
 1   lastTradeDate      493 non-null    object
 2   strike             493 non-null    float64
 3   lastPrice          493 non-null    float64
 4   bid                493 non-null    float64
 5   ask                493 non-null    float64
 6   change             493 non-null    float64
 7   percentChange      493 non-null    float64
 8   volume             485 non-null    float64
 9   openInterest       493 non-null    int64
 10  impliedVolatility  493 non-null    float64
 11  inTheMoney         493 non-null    bool
 12  contractSize       493 non-null    object
 13  currency           493 non-null    object
 14  type               493 non-null    object
 15  expiry             493 non-null    object
 16  spot               493 non-null    float64
 17  dividendYield      493 non-null    float64
dtypes: bool(1), float64(10), int64(1), object(6)
memory usage: 66.1+ KB

None

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency,type,expiry,spot,dividendYield
0,NVDA250404C00050000,2025-03-28 19:59:24+00:00,50.0,59.73,58.45,60.95,-2.810001,-4.493127,125.0,213,2.343754,True,REGULAR,USD,call,2025-04-04,109.669998,0.04
1,NVDA250404C00055000,2025-03-27 13:41:36+00:00,55.0,54.70,53.50,55.95,-1.380001,-2.460772,1.0,6,2.218754,True,REGULAR,USD,call,2025-04-04,109.669998,0.04
2,NVDA250404C00060000,2025-03-28 15:38:44+00:00,60.0,50.35,48.50,50.95,-3.380001,-6.290715,1.0,17,1.960938,True,REGULAR,USD,call,2025-04-04,109.669998,0.04
3,NVDA250404C00065000,2025-03-28 19:21:04+00:00,65.0,45.10,43.50,45.95,-1.900001,-4.042556,15.0,31,1.718751,True,REGULAR,USD,call,2025-04-04,109.669998,0.04
4,NVDA250404C00070000,2025-03-28 14:38:02+00:00,70.0,39.70,38.80,40.65,-2.700001,-6.367926,61.0,245,1.500002,True,REGULAR,USD,call,2025-04-04,109.669998,0.04

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 817 entries, 0 to 816
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   contractSymbol     817 non-null    object
 1   lastTradeDate      817 non-null    object
 2   strike             817 non-null    float64
 3   lastPrice          817 non-null    float64
 4   bid                817 non-null    float64
 5   ask                817 non-null    float64
 6   change             817 non-null    float64
 7   percentChange      817 non-null    float64
 8   volume             809 non-null    float64
 9   openInterest       817 non-null    int64
 10  impliedVolatility  817 non-null    float64
 11  inTheMoney         817 non-null    bool
 12  contractSize       817 non-null    object
 13  currency           817 non-null    object
 14  type               817 non-null    object
 15  expiry             817 non-null    object
 16  spot               817 non-null    float64
 17  dividendYield      817 non-null    float64
dtypes: bool(1), float64(10), int64(1), object(6)
memory usage: 109.4+ KB

None

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency,type,expiry,spot,dividendYield
0,SPY250331C00370000,2025-03-28 15:26:35+00:00,370.0,189.15,184.22,185.42,-9.410004,-4.739123,2.0,2,0.000010,True,REGULAR,USD,call,2025-03-31,555.659973,1.19
1,SPY250331C00375000,2025-03-24 19:36:53+00:00,375.0,199.35,179.22,180.42,0.000000,0.000000,6.0,2,0.000010,True,REGULAR,USD,call,2025-03-31,555.659973,1.19
2,SPY250331C00380000,2025-01-30 20:21:36+00:00,380.0,229.59,212.98,216.06,0.000000,0.000000,1.0,9,7.715577,True,REGULAR,USD,call,2025-03-31,555.659973,1.19
3,SPY250331C00385000,2024-12-31 17:13:39+00:00,385.0,206.66,223.94,225.18,0.000000,0.000000,2.0,4,8.932011,True,REGULAR,USD,call,2025-03-31,555.659973,1.19
4,SPY250331C00390000,2025-01-07 18:38:22+00:00,390.0,205.77,211.37,214.64,0.000000,0.000000,2.0,108,8.159917,True,REGULAR,USD,call,2025-03-31,555.659973,1.19

In [4]:
# change Expiry type to datetime for checking it with conditions
nvda['expiry'] = pd.to_datetime(nvda['expiry'])
spy['expiry'] = pd.to_datetime(spy['expiry'])

In [5]:
# core features correction check
display(nvda[(nvda['bid'] < 0) | (nvda['ask'] < 0)]) # check any rows have bid or ask price less than 0
display(nvda[(nvda['expiry']) < datetime.today()]) # check any expiry date have been passed today
display(nvda[(nvda['impliedVolatility']) < 0]) # check any rows have implied volatility less than 0
display(spy[(spy['bid'] < 0) | (spy['ask'] < 0)])
display(spy[(spy['expiry']) < datetime.today()])
display(spy[(spy['impliedVolatility']) < 0])

Empty DataFrame
Columns: [contractSymbol, lastTradeDate, strike, lastPrice, bid, ask, change, percentChange, volume, openInterest, impliedVolatility, inTheMoney, contractSize, currency, type, expiry, spot, dividendYield]
Index: []

Empty DataFrame
Columns: [contractSymbol, lastTradeDate, strike, lastPrice, bid, ask, change, percentChange, volume, openInterest, impliedVolatility, inTheMoney, contractSize, currency, type, expiry, spot, dividendYield]
Index: []

Empty DataFrame
Columns: [contractSymbol, lastTradeDate, strike, lastPrice, bid, ask, change, percentChange, volume, openInterest, impliedVolatility, inTheMoney, contractSize, currency, type, expiry, spot, dividendYield]
Index: []

Empty DataFrame
Columns: [contractSymbol, lastTradeDate, strike, lastPrice, bid, ask, change, percentChange, volume, openInterest, impliedVolatility, inTheMoney, contractSize, currency, type, expiry, spot, dividendYield]
Index: []

Empty DataFrame
Columns: [contractSymbol, lastTradeDate, strike, lastPrice, bid, ask, change, percentChange, volume, openInterest, impliedVolatility, inTheMoney, contractSize, currency, type, expiry, spot, dividendYield]
Index: []

Empty DataFrame
Columns: [contractSymbol, lastTradeDate, strike, lastPrice, bid, ask, change, percentChange, volume, openInterest, impliedVolatility, inTheMoney, contractSize, currency, type, expiry, spot, dividendYield]
Index: []

In [6]:
# add mid price column to represent average price of each option ontract
nvda['AveragePrice'] = (nvda['bid'] + nvda['ask']) / 2
spy['AveragePrice'] = (spy['bid'] + spy['ask']) / 2

In [7]:
# added time to maturity column (in # of days / 365)
def calculateTimeToMaturity(e):
    return max((e - datetime.today()).days / 365, 0)

nvda['ttm'] = nvda['expiry'].apply(calculateTimeToMaturity)
spy['ttm'] = spy['expiry'].apply(calculateTimeToMaturity)

In [8]:
display(nvda.iloc[:5, [2,4,5,18,19]])
display(spy.iloc[-5:, [2,4,5,18,15,19]])

   strike    bid    ask  AveragePrice       ttm
0    50.0  58.45  60.95        59.700  0.010959
1    55.0  53.50  55.95        54.725  0.010959
2    60.0  48.50  50.95        49.725  0.010959
3    65.0  43.50  45.95        44.725  0.010959
4    70.0  38.80  40.65        39.725  0.010959

     strike    bid    ask  AveragePrice     expiry       ttm
812   581.0  25.62  26.87        26.245 2025-04-03  0.008219
813   584.0  28.63  29.73        29.180 2025-04-03  0.008219
814   585.0  29.65  30.59        30.120 2025-04-03  0.008219
815   586.0  30.65  31.73        31.190 2025-04-03  0.008219
816   590.0  34.65  35.60        35.125 2025-04-03  0.008219

In [11]:
display(nvda.iloc[:, [2,15,8,9]])

     strike     expiry  volume  openInterest
0      50.0 2025-04-04   125.0           213
1      55.0 2025-04-04     1.0             6
2      60.0 2025-04-04     1.0            17
3      65.0 2025-04-04    15.0            31
4      70.0 2025-04-04    61.0           245
..      ...        ...     ...           ...
488   150.0 2025-04-25    57.0             0
489   155.0 2025-04-25     6.0             0
490   160.0 2025-04-25     4.0             0
491   165.0 2025-04-25     NaN             1
492   170.0 2025-04-25     NaN             0

[493 rows x 4 columns]

<span style="font-size:15px; font-family:'Times new roman';">
Open Interest = The total number of active options contracts that are open and not yet closed or exercised

It increases when new options are opened and decreases when options are closed, exercised, or expire --> using for filter liquid Options --> avoid illiquid options in modeling

Only gonna consider options that have OI and Volume > 0.05% of max OI and Volume > 5
</span>

In [25]:
print("Biggest nvda OI =" ,nvda['openInterest'].max(), "Biggest spy OI =" ,spy['openInterest'].max())
nvda = nvda[(nvda['openInterest'] > math.ceil(0.00005*nvda['openInterest'].max())) & (nvda['volume'] > 5)]
spy = spy[(spy['openInterest'] > math.ceil(0.00005*spy['openInterest'].max())) & (spy['volume'] > 5)]

Biggest nvda OI = 199377 Biggest spy OI = 62335

In [31]:
print("# of nvda remain =" ,len(nvda),"\n# of spy remain =" ,len(spy))

# of nvda remain = 389
# of spy remain = 571